

html, body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  line-height: 1.846;
  color: #606577;
  font-weight: normal;
}




/*Lucia - Para los botones de color Naranja */
.mButton {
  background-color: #e84700;
  border: 1px solid #e84711;
  height: 34px;
  width: 110px;
  color: #fff;
  vertical-align: top;
  border-radius: 3px;
}

  .mButton:hover {
    background-color: #EF7845;
    border: 1px solid #e84711;
    height: 33px;
    color: #fff;
  }

input {
  outline: none;
  border: 1px solid #E8E8E8;
  padding: 8px 14px;
  width: 100%;
  margin-bottom: 0px;
}


  input[type="button"] {
    margin-bottom: 20px;
  }



/*Lucia - Para que las pantallas y menu se expanda al 100% de la pantalla */
.container {
  width: 100%;
  margin: 0 auto;
}



/*Lucia - para el Body de las paginas*/
.containerBody {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 50px;
}






/*============================================================*/
/*PAGINA CLIENTES, CLASE PARA EL CUADRO DE UN CLIENTE*/
/*============================================================*/
.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.clearboth {
  clear: both;
}

.wow {
  padding-bottom: 15px;
  text-decoration:none;
}

.blog-wrapper {
  padding-bottom: 0;
}

  .blog-wrapper p {
    color: #8d8b8b;
    margin-bottom: 25px;
  }

  .blog-wrapper .blog-date-wrapper img {
    width: 100%;
  }

  .blog-wrapper .blog-date-wrapper {
    width: 100%;
    background: #F2F2F2; /*titulo de los cuadros */
    color: #909090;
    font-weight: 500;
    cursor: default;
  }

.blog-container {
  background: #fff; /*fondo de los cuadros */
  text-decoration:none;
}

/*.blog-container:hover {
  background: #fffbe7; /*titulo de los cuadros */
}

*/
/*.blog-container:hover {
    background  : #fff7cd; 
}*/
.blog-container h2 {
  font-family: "Roboto Condensed",sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.7px;
  padding: 17px 0 20px;
}


.blog-wrapper .blog-container, .blog-wrapper .blog-date-wrapper {
  padding: 15px;
  border-color: #d7d7d7;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  padding-bottom: 21px;
}

.blog-wrapper .blog-container {
  border-width: 0px 1px 1px 1px;
}

.blog-wrapper h2 a {
  color: #525252;
}

  .blog-wrapper h2 a:hover {
    color: #e95e1d;
    opacity: 1;
  }

.blog-wrapper .custom-button {
  padding: 8px 20px;
  border-color: #d7d7d7;
  border-style: solid;
  border-width: 1px;
  color: #929292;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1.3px;
  background-color: #fff; /*nose*/
}

  .blog-wrapper .custom-button i {
    opacity: 0;
    font-size: 16px;
    -webkit-transition: opacity ease 0.35s; /* For Safari 3.1 to 6.0 */
    -moz-transition: opacity ease 0.35s;
    -ms-transition: opacity ease 0.35s;
    -o-transition: opacity ease 0.35s;
    transition: opacity ease-in 0.35s;
  }

  .blog-wrapper .custom-button:hover i {
    opacity: 1;
  }

  .blog-wrapper .custom-button:hover {
    color: #e95e1d;
    border-color: #e95e1d;
  }


.blog-wrapper .blog-date-wrapper {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 15px;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-transform: capitalize;
  padding-top: 19px;
}

.blog-date-wrapper a {
  color: #7f7f7f;
  -webkit-transition: color ease-in 0.35s;
  -moz-transition: color ease-in 0.35s;
  -ms-transition: color ease-in 0.35s;
  -o-transition: color ease-in 0.35s;
  transition: color ease-in 0.35s;
  text-decoration: none;
  cursor: pointer;
}

  .blog-date-wrapper a:hover {
    color: #e95e1d;
    text-decoration: none;
  }

.blog-date-wrapper span {
  color: #7f7f7f;
  -webkit-transition: color ease-in 0.35s;
  -moz-transition: color ease-in 0.35s;
  -ms-transition: color ease-in 0.35s;
  -o-transition: color ease-in 0.35s;
  transition: color ease-in 0.35s;
}

  .blog-date-wrapper span:hover {
    color: #e95e1d;
  }


.blog-wrapper .blog-date-wrapper span:nth-child(2n+2) {
  margin: 0 0 0 10px;
}

.blog-wrapper .col-sm-4 {
  margin-top: 50px;
}



.blog-wrapper .more-area {
  margin-top: 45px;
}

  .blog-wrapper .more-area h2 {
    font-weight: 300;
    font-size: 32px;
    text-transform: uppercase;
    padding-top: 3px;
  }
/*============================================================*/
